[class^="channelTextArea"]::before {
	content: "";
	width: 32px;
	height: 32px;
	bottom: calc(100% - 3px);
	right: 10px;
	position: absolute;
	image-rendering: pixelated;
	background-image: url("https://raw.githubusercontent.com/adryd325/oneko.js/14bab15a755d0e35cd4ae19c931d96d306f99f42/oneko.gif");
	animation: sprite 30s infinite, motion 30s infinite linear;
}

@keyframes sprite {
	0%, 3.3333% {
		background-position: -96px -64px;
	}
	3.3334%, 6.6667% {
		background-position: -96px -96px;
	}
	6.6668%, 10.0000% {
		background-position: -64px -0px;
	}
	10.0001%, 13.3333% {
		background-position: -64px -32px;
	}
	13.3334%, 16.6667% {
		background-position: -64px -0px;
	}
	16.6668%, 20.0000% {
		background-position: -64px -32px;
	}
	20.0001%, 23.3333% {
		background-position: -64px -0px;
	}
	23.3334%, 26.6667% {
		background-position: -64px -32px;
	}
	26.6668%, 30.0000% {
		background-position: -64px -0px;
	}
	30.0001%, 33.3333% {
		background-position: -64px -32px;
	}
	33.3334%, 36.6667% {
		background-position: -64px -0px;
	}
	36.6668%, 40.0000% {
		background-position: -64px -32px;
	}
	40.0001%, 43.3333% {
		background-position: -64px -0px;
	}
	43.3334%, 46.6667% {
		background-position: -64px -32px;
	}
	46.6668%, 50.0000% {
		background-position: -64px -0px;
	}
	50.0001%, 50.4167% {
		background-position: -128px -0px;
	}
	50.4168%, 50.8333% {
		background-position: -128px -32px;
	}
	50.8334%, 51.2500% {
		background-position: -128px -64px;
	}
	51.2501%, 51.6667% {
		background-position: -128px -96px;
	}
	51.6668%, 52.0833% {
		background-position: -128px -0px;
	}
	52.0834%, 52.5000% {
		background-position: -128px -32px;
	}
	52.5001%, 52.9167% {
		background-position: -128px -64px;
	}
	52.9168%, 53.3333% {
		background-position: -128px -96px;
	}
	53.3334%, 53.7500% {
		background-position: -128px -0px;
	}
	53.7501%, 54.1667% {
		background-position: -128px -32px;
	}
	54.1668%, 54.5833% {
		background-position: -128px -64px;
	}
	54.5834%, 55.0000% {
		background-position: -128px -96px;
	}
	55.0001%, 55.4167% {
		background-position: -128px -0px;
	}
	55.4168%, 55.8333% {
		background-position: -128px -32px;
	}
	55.8334%, 56.2500% {
		background-position: -128px -64px;
	}
	56.2501%, 56.6667% {
		background-position: -128px -96px;
	}
	56.6668%, 57.0833% {
		background-position: -128px -0px;
	}
	57.0834%, 57.5000% {
		background-position: -128px -32px;
	}
	57.5001%, 57.9167% {
		background-position: -128px -64px;
	}
	57.9168%, 58.3333% {
		background-position: -128px -96px;
	}
	58.3334%, 58.7500% {
		background-position: -128px -0px;
	}
	58.7501%, 59.1667% {
		background-position: -128px -32px;
	}
	59.1668%, 59.5833% {
		background-position: -128px -64px;
	}
	59.5834%, 60.0000% {
		background-position: -128px -96px;
	}
	60.0001%, 60.4167% {
		background-position: -128px -0px;
	}
	60.4168%, 60.8333% {
		background-position: -128px -32px;
	}
	60.8334%, 61.2500% {
		background-position: -128px -64px;
	}
	61.2501%, 61.6667% {
		background-position: -128px -96px;
	}
	61.6668%, 62.0833% {
		background-position: -128px -0px;
	}
	62.0834%, 62.5000% {
		background-position: -128px -32px;
	}
	62.5001%, 62.9167% {
		background-position: -128px -64px;
	}
	62.9168%, 63.3333% {
		background-position: -128px -96px;
	}
	63.3334%, 63.7500% {
		background-position: -128px -0px;
	}
	63.7501%, 64.1667% {
		background-position: -128px -32px;
	}
	64.1668%, 64.5833% {
		background-position: -128px -64px;
	}
	64.5834%, 65.0000% {
		background-position: -128px -96px;
	}
	65.0001%, 65.4167% {
		background-position: -128px -0px;
	}
	65.4168%, 65.8333% {
		background-position: -128px -32px;
	}
	65.8334%, 66.2500% {
		background-position: -128px -64px;
	}
	66.2501%, 66.6667% {
		background-position: -128px -96px;
	}
	66.6668%, 67.0833% {
		background-position: -128px -0px;
	}
	67.0834%, 67.5000% {
		background-position: -128px -32px;
	}
	67.5001%, 67.9167% {
		background-position: -128px -64px;
	}
	67.9168%, 68.3333% {
		background-position: -128px -96px;
	}
	68.3334%, 68.7500% {
		background-position: -128px -0px;
	}
	68.7501%, 69.1667% {
		background-position: -128px -32px;
	}
	69.1668%, 69.5833% {
		background-position: -128px -64px;
	}
	69.5834%, 70.0000% {
		background-position: -128px -96px;
	}
	70.0001%, 70.4167% {
		background-position: -128px -0px;
	}
	70.4168%, 70.8333% {
		background-position: -128px -32px;
	}
	70.8334%, 71.2500% {
		background-position: -128px -64px;
	}
	71.2501%, 71.6667% {
		background-position: -128px -96px;
	}
	71.6668%, 72.0833% {
		background-position: -128px -0px;
	}
	72.0834%, 72.5000% {
		background-position: -128px -32px;
	}
	72.5001%, 72.9167% {
		background-position: -128px -64px;
	}
	72.9168%, 73.3333% {
		background-position: -128px -96px;
	}
	73.3334%, 73.7500% {
		background-position: -128px -0px;
	}
	73.7501%, 74.1667% {
		background-position: -128px -32px;
	}
	74.1668%, 74.5833% {
		background-position: -128px -64px;
	}
	74.5834%, 75.0000% {
		background-position: -128px -96px;
	}
	75.0001%, 75.4167% {
		background-position: -128px -0px;
	}
	75.4168%, 75.8333% {
		background-position: -128px -32px;
	}
	75.8334%, 76.2500% {
		background-position: -128px -64px;
	}
	76.2501%, 76.6667% {
		background-position: -128px -96px;
	}
	76.6668%, 77.0833% {
		background-position: -128px -0px;
	}
	77.0834%, 77.5000% {
		background-position: -128px -32px;
	}
	77.5001%, 77.9167% {
		background-position: -128px -64px;
	}
	77.9168%, 78.3333% {
		background-position: -128px -96px;
	}
	78.3334%, 78.7500% {
		background-position: -128px -0px;
	}
	78.7501%, 79.1667% {
		background-position: -128px -32px;
	}
	79.1668%, 79.5833% {
		background-position: -128px -64px;
	}
	79.5834%, 80.0000% {
		background-position: -128px -96px;
	}
	80.0001%, 80.4167% {
		background-position: -128px -0px;
	}
	80.4168%, 80.8333% {
		background-position: -128px -32px;
	}
	80.8334%, 81.2500% {
		background-position: -128px -64px;
	}
	81.2501%, 81.6667% {
		background-position: -128px -96px;
	}
	81.6668%, 82.0833% {
		background-position: -128px -0px;
	}
	82.0834%, 82.5000% {
		background-position: -128px -32px;
	}
	82.5001%, 82.9167% {
		background-position: -128px -64px;
	}
	82.9168%, 83.3333% {
		background-position: -128px -96px;
	}
	83.3334%, 83.7500% {
		background-position: -128px -0px;
	}
	83.7501%, 84.1667% {
		background-position: -128px -32px;
	}
	84.1668%, 84.5833% {
		background-position: -128px -64px;
	}
	84.5834%, 85.0000% {
		background-position: -128px -96px;
	}
	85.0001%, 85.4167% {
		background-position: -128px -0px;
	}
	85.4168%, 85.8333% {
		background-position: -128px -32px;
	}
	85.8334%, 86.2500% {
		background-position: -128px -64px;
	}
	86.2501%, 86.6667% {
		background-position: -128px -96px;
	}
	86.6668%, 87.0833% {
		background-position: -128px -0px;
	}
	87.0834%, 87.5000% {
		background-position: -128px -32px;
	}
	87.5001%, 87.9167% {
		background-position: -128px -64px;
	}
	87.9168%, 88.3333% {
		background-position: -128px -96px;
	}
	88.3334%, 88.7500% {
		background-position: -128px -0px;
	}
	88.7501%, 89.1667% {
		background-position: -128px -32px;
	}
	89.1668%, 89.5833% {
		background-position: -128px -64px;
	}
	89.5834%, 90.0000% {
		background-position: -128px -96px;
	}
	90.0001%, 90.4167% {
		background-position: -128px -0px;
	}
	90.4168%, 90.8333% {
		background-position: -128px -32px;
	}
	90.8334%, 91.2500% {
		background-position: -128px -64px;
	}
	91.2501%, 91.6667% {
		background-position: -128px -96px;
	}
	91.6668%, 92.0833% {
		background-position: -128px -0px;
	}
	92.0834%, 92.5000% {
		background-position: -128px -32px;
	}
	92.5001%, 92.9167% {
		background-position: -128px -64px;
	}
	92.9168%, 93.3333% {
		background-position: -128px -96px;
	}
	93.3334%, 93.7500% {
		background-position: -128px -0px;
	}
	93.7501%, 94.1667% {
		background-position: -128px -32px;
	}
	94.1668%, 94.5833% {
		background-position: -128px -64px;
	}
	94.5834%, 95.0000% {
		background-position: -128px -96px;
	}
	95.0001%, 95.4167% {
		background-position: -128px -0px;
	}
	95.4168%, 95.8333% {
		background-position: -128px -32px;
	}
	95.8334%, 96.2500% {
		background-position: -128px -64px;
	}
	96.2501%, 96.6667% {
		background-position: -128px -96px;
	}
	96.6668%, 97.0833% {
		background-position: -128px -0px;
	}
	97.0834%, 97.5000% {
		background-position: -128px -32px;
	}
	97.5001%, 97.9167% {
		background-position: -128px -64px;
	}
	97.9168%, 98.3333% {
		background-position: -128px -96px;
	}
	98.3334%, 98.7500% {
		background-position: -128px -0px;
	}
	98.7501%, 99.1667% {
		background-position: -128px -32px;
	}
	99.1668%, 99.5833% {
		background-position: -128px -64px;
	}
	99.5834%, 100.0000% {
		background-position: -128px -96px;
	}
}

@keyframes motion {
	0% {
		right: 10px;
		transform: scaleX(1);
	}
	50% {
		right: 10px;
		transform: scaleX(1);
	}
	75% {
		right: calc(100% - 42px);
		transform: scaleX(1);
	}
	75.0001% {
		right: calc(100% - 42px);
		transform: scaleX(-1);
	}
	100% {
		right: 10px;
		transform: scaleX(-1);
	}
}